*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav_item{
    text-decoration: none;  
    color: white; 
   }
   .navigation_bar{
       display: flex;
       justify-content: space-around;
       background: rgb(2,0,35);
   background: linear-gradient(90deg, rgba(2,0,35,1) 0%, rgba(8,8,110,1) 35%, rgba(66,1,85,1) 100%);
       color: white;
       padding: 10px;
       list-style: none;
       
   }
body{
      
    /* background: rgb(2,0,30);
    background: linear-gradient(90deg, rgba(2,0,30,1) 60%, rgba(0,0,75,1) 66%, rgba(145,0,189,1) 84%); */
    background: rgb(2,0,30);
    background: linear-gradient(90deg, rgba(2,0,30,1) 60%, rgba(0,0,75,1) 100%, rgba(126,5,162,1) 100%);
        
}

.container{
    padding-top: 40px;
    padding-bottom: 100px ;
    padding-left: 100px ;
    padding-right: 100px ;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
}

.photos{
    /* background-color: red; */
}
h1{
    text-align: center;
    color: white;

}
p{
    text-align: center;
    color: rgb(238, 255, 0);
    font-size: 20px;

}
.AkaashHirani{
    width: 320px;
    height: 170px;
}
.AkaashHirani:hover{
    background-color: black;
    opacity: 50%;
}
.Roki{
    

    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color: white;
    /* opacity: 0%; */
    
}

.photos{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#p1 {
    background: url("webpage/Photos/Ankita\ dhara.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
    
    
}
#p1:hover,#p2:hover,#p3:hover,#p4:hover,#p5:hover,#p6:hover,#p7:hover,#p8:hover,#p9:hover, #p10:hover{
    background: transparent;
}
#p2 {
    background: url("webpage/Photos/aakash\ hirani.png") ;
    background-size: cover;
    background-repeat: no-repeat;
    
}
#p3 {
    background: url("webpage/Photos/aakash\ hirani\ 2.png") ;
    background-size: cover;
    background-repeat: no-repeat;
    
}
#p4 {
    background: url("webpage/Photos/anumit\ kumar\ jana.png") ;
    background-size: cover;
    background-repeat: no-repeat;
    
}
#p5 {
    background: url('webpage/Photos/Rahul\ Pandey\ \(Graphic\ Design\)\ \(1\).jpg') ;
    background-size: cover;
    background-repeat: no-repeat;
    
}
#p6 {
    background: url("webpage/Photos/swapnaneel\ ray.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
    
}

#p7 {
    background: url("webpage/Photos/yash\ maheshwari.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
    
}
#p1:hover{
    opacity: 1; 
    
    /* .Roki{
        opacity: 1;
    }    */
}
/* .name{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 33px;
    color: blueviolet;

} */
/* .glow {
    font-size: 80px;
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
 @keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  } */
