*{
    margin: 0;
    padding: 0;
}
.nav_item{
 text-decoration: none;  
 color: white; 
}
.navigation_bar{
    position: fixed;
    min-width: 100%;
    display: flex;
    justify-content: space-around;
    background: rgb(2,0,35);
background: linear-gradient(90deg, rgba(2,0,35,1) 0%, rgba(8,8,110,1) 35%, rgba(66,1,85,1) 100%);
    color: white;
    padding: 10px;
    list-style: none;
    z-index: 100;
    
}
.dummy{
    width: 100vw;
    height: 39px;
}
body{
    /* background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(197,0,255,1) 100%); */


/* background: rgb(2,0,35);
background: linear-gradient(90deg, rgba(2,0,35,1) 0%, rgba(0,0,75,1) 45%, rgba(173,0,225,1) 100%); */
/* background: rgb(2,0,30);
background: linear-gradient(90deg, rgba(2,0,30,1) 41%, rgba(0,0,75,1) 47%, rgba(145,0,189,1) 95%);   */
background: rgb(2,0,30);
background: linear-gradient(90deg, rgba(2,0,30,1) 60%, rgba(0,0,75,1) 66%, rgba(145,0,189,1) 84%);
    
}

.title{
    position: absolute;
    /* padding-top: 166px;
    padding-left: 125px; */
    margin-top: 166px;
    margin-left: 125px;
    font-size: 50px;
    color: burlywood;
    font-weight: 400;
    overflow: hidden;
}
.text{
    font-size: 87px;
}
.title.text{
    position: relative;
}
.title_first{
    color: white;
}
.imp{
    overflow: hidden;
    display: inline-block;

}
.imp::before{
    content: "";
    display: block;
    position: absolute;
    background: rgb(2,0,30);
background: linear-gradient(90deg, rgba(2,0,30,1) 100%, rgba(145,0,189,1) 100%, rgba(0,0,75,1) 100%);
    border-left: 2px solid white;
    height: 100px;
    width: 669px;
    overflow: hidden;
    left: 0%;
    animation: myani 4s steps(22)  infinite ;
}
@keyframes myani {
    40%,60%{
        left: 100%;
    }
    100%{
        left: 0%;
    }
}
/* .title_second::before{
    /* content: " ";

    position: absolute;
    left: 0;
    width: 100%;
    height: 50%;
    border-left: 3px solid white;
    background: rgb(2,0,30);
background: linear-gradient(90deg, rgba(2,0,30,1) 100%, rgba(145,0,189,1) 100%, rgba(0,0,75,1) 100%);
    animation: animate 3s steps(12) infinite ;
    overflow: hidden; */
/* }  */
@keyframes animate{
    
    /* 0%{
        left :0%;
    } */
    40%, 60%{
        left: 100%;
    }
    100%{
        left: 0%;
    }
}
.head-picture{
    position: relative;
    left: 50%;
    top: 75px;
    width: 500px;
    height: 500px;
    
}
.head-picture img{
    width: 750px;
    height: 500px;
}

.nav_item{
    cursor: pointer;
    
}
a:hover{
    
    /* text-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00, 0 0 15px #00ff00; */
    animation: glow-animation 1s infinite alternate;
  
    
}
@keyframes glow-animation {
    0% {
        text-shadow: 0 0 5px #fffF00, 0 0 5px #ff0000, 0 0 15px #ff6200, 0 0 20px #ff0000;
    }

    50% {
        text-shadow: 0 0 10px #fffF00, 0 0 10px #ff0000, 0 0 30px #ff6200, 0 0 40px #ff0000;
    }

    100% {
        text-shadow: 0 0 5px #fffF00, 0 0 5px #ff0000, 0 0 15px #ff6200, 0 0 20px #ff0000;
    }
}
.title_second{
    overflow: hidden;
}